

.post {
    font-family: "Roboto", sens-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* Обгортка section-1 */
.logo {
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 500;
    background-color: #fff;
    font-weight: 700;
    letter-spacing: 0.02em;
    
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}
.logo-studio {
    color: #2e2f42;
    font-size: 18px;
    line-height: 1.17;
    background-color: #fff;
        font-weight: 500;
            letter-spacing: 0.02em;
            text-transform: uppercase;
                font-family: "Raleway", sans-serif;
}
.header {
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    background-color: #fff;
}
.header:hover {
    color: #404bbf;
}
.header:focus {
    color: #404bbf;
}

/* Контакти section-2 */
.contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    background-color: #fff;
}

.contacts:hover,
.contacts:focus {
    color: black;
}
/* Основна частина section-3 */
.section-main-first {
    background-color: #F4F4FD;
}
.section-main-second {
    background-color: #FFFFFF;
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
    background-color: #2e2f42;
}
.button {
    background-color: #4d5ae5;
    color: #fff;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #4d5ae5;
}
/* На майбутнє для читалок та пошукових систем section-4 */

.title-three {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #fff;
}
.paragraph-small {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}
/* Команда section-5 */

.title-team {

    font-size: 36px;
    line-height: 1.11111;
    color: #2e2f42;
    background-color: #f4f4fd;
}
.names {
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    background-color: #fff;
}

.position {

    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #fff;
}
/* section Portfolio section-6 */
.title-second {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #2e2f42;
}

.paragraph-portfolio {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    background-color: #fff;
}

.under-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
    background-color: #fff;
}
/* Додаткова інформація section-7 */
.logo-footer {
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
}

.logo-footer-studio {
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    background-color: #2e2f42;
}

.paragraph-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2e2f42;
}
.footer-color {
    background-color: #2e2f42;
}
























